input[type="text"]{
    color:red;
    direction: rtl;
    text-align: center;
}
input[type="email"]{
    background-color: red;
    cursor: progress;
}
input[type="number"]{
    text-shadow: 5px;
    text-align: right;
}
input[type="submit"]{
    cursor: grabbing;
}